* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 0.625vw;

  @media #{$breakpoint-sm} {
    font-size: 1.5vw;
  }

  @media #{$breakpoint-lg} {
    font-size: 0.5vw;
  }
}

body {
  position: relative;
  font-size: 1.6rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

path {
  fill: currentColor;
}

body, html {
  height: 100%;
}

button {
  border: 0;
  background: transparent;
  font: inherit;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
}
